<nav class="sidebar sidebar-offcanvas" id="sidebar" style="position: fixed !important;">
      <ul class="nav">
        <li class="nav-item sidebar-category">
          <p>Navigation</p>
          <span></span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/statistic">
            <i class="mdi mdi-view-quilt menu-icon"></i>
            <span class="menu-title">Admin Dashboard</span>
            <!-- <div class="badge badge-info badge-pill">2</div> -->
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/orderAdmin">
            <i class="mdi mdi-grid-large menu-icon"></i>
            <span class="menu-title">Danh sách đơn hàng</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/transaction">
            <i class="mdi mdi mdi-bank menu-icon"></i>
            <span class="menu-title">Danh sách giao dịch</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/account">
            <i class="mdi mdi mdi-account-multiple menu-icon"></i>
            <span class="menu-title">Danh sách tài khoản</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/publisher">
            <i class="mdi mdi-factory menu-icon"></i>
            <span class="menu-title">Danh sách nhà phát hành</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cardType">
            <i class="mdi mdi-cards menu-icon"></i>
            <span class="menu-title">Phân loại thẻ</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cardAdmin">
            <i class="mdi mdi-cards-outline menu-icon"></i>
            <span class="menu-title">Xem thẻ</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/icon">
            <i class="mdi mdi-pokeball menu-icon"></i>
            <span class="menu-title">Xem icon</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">
            <button class="btn bg-danger btn-sm menu-title">Đăng xuất</button>
          </a>
        </li>
      </ul>
    </nav>