<div class="footer-top">
    <div class="container">
        <div class="inner-content">
            <div class="row align-items-center text-center">
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="footer-logo">
                        <a href="/">
                            <img th:src="@{/assets/images/logo/white-logo.svg}" alt="White-logo">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="payment-gateway">
                        <span style="color:#fff;">Phương thức thanh toán: </span>
                        <a href="https://payos.vn/">payOS</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="copyright">
                        <p style="color:#fff;">Template được thiết kế bởi <a href="https://graygrids.com/" rel="nofollow" target="_blank">GrayGrids</a></p>
                        <p style="color:#fff;">Website được phát triển bởi <a href="#" rel="nofollow">SE1801-G1</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Footer Top -->
 
<!-- Start Footer Middle -->
<div class="footer-middle">
    <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6 col-12 text-center">
                    <!-- Single Widget -->
                    <div class="single-footer f-contact">
                        <h3>Kết nối với chúng tôi</h3>
                        <p class="phone"><span style="color:#fff;">Hotline:</span> (+84) 898 756 885</p>
                        <ul>
                            <li><span style="color:#fff;">Giờ làm việc:</span></li>
                            <li><span>Thứ hai - Thứ sáu: 9.00 am - 5.00 pm</span></li>
                        </ul>
                        <p class="mail" style="color:#fff;">
                            Email: <a href="mailto:ngocnthhe186888@fpt.edu.vn">ngocnthhe186888@fpt.edu.vn</a>
                        </p>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-6 col-md-6 col-12 text-center">
                    <!-- Single Widget -->
                    <div class="single-footer f-link">
                        <h3>Danh Mục</h3>
                        <ul>
                            <li><a href="/#featured-categories">Danh mục thẻ cào</a></li>
                            <li><a href="/profile">Hồ sơ của tôi</a></li>
                            <li><a href="/cart">Giỏ hàng</a></li>
                            <li><a href="/order">Lịch sử mua hàng</a></li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
            </div>
    </div>
</div>
<!-- End Footer Middle -->

